/* General styles */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 60px;
}

/* Headings */
h2 {
  font-size: 1.75em;
  margin-bottom: 20px;
}

/* Links */
a {
  color: #065f46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

